{{with .Contact -}}
  Dear {{.FirstName}} {{.LastName}},
{{- end}}

I am reaching out because I thought that you would be a great fit for {{with .Position -}} {{.Description}} {{- end}} that one of my clients has available in the greater Portland area.  They are looking to move foward quickly so if you are interested in hearing more please call me at 000-000-0000 as soon as possible! If you are not in the job market, I would love to talk to you and see if you know anyone who might be a good fit, as well. Thank you, have a great day!

Best Wishes,
Recruiting Team

